/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* border: 1px solid red; */

/* body {
  border: 1px solid red;
} */

nav{
  background-color: peachpuff;
  min-width: 100%;
  position: fixed;
  top: 10px;
  left: 5px;
 }
 
 a:hover {
  cursor: pointer;
  color: blue;
 }

 button:hover {
  cursor: pointer;
  color: blue;
 }

 .navItems {
  width: 300px;
 }

 .buttonStyle {
  border: 1px solid black;
 }
 /* .theConsole {
  width: 200px;
  height: 250px;
  position: fixed;
  right: 10px;
  top: 50px;
  background-color: lightgray;
  border: 1px solid black;
  font-size: small;
 } */

 /* .welcome {
  width: 100%;
 } */

 #postButton:hover {
  cursor: pointer;
  color: blue;

 }

 /* #pageTitle {
  position: fixed;
  color: gray;
  bottom: 10px;
  left: 10px;
 } */

 footer {
  position: fixed;
  color: gray;
  bottom: 10px;
  left: 10px;
 }
