<nav>
  <%= link_to "New Category", new_category_path %>
</nav>
<div>
  <h1 class="font-bold text-4xl">Categories#index</h5>
  <ul>
    <% @categories.each do |category| %>
      <li>
        <%= link_to category.title, category %>
      </li>
    <% end %>
  </ul>
  
</div>
